// Here you can add other styles
// .card-header {
//     padding: 5px 1px 5px 15px;
// }

.main .container-fluid {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.breadcrumb {
    padding: 0.3rem 1rem;
    margin-bottom: 0.2rem;  
}

.card {
    margin-bottom: 0.2rem;

}