// Variable overrides
// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// core ui
// ปรับเปลี่ยนสี primary ต้องการ
// ในกรณีที่เปลี่ยนพื้นหลังเป็นสีอ่อน แล้วมอง link ไม่ชัดให้เปลี่ยนค่า $navbar-sidebar-link-color ตามที่ต้องการ
$primary: #3490dc;
$navbar-sidebar-link-color: #ffffff;


// navbar
// $navbar-brand-bg: darken($primary, 10%) !default;
// $navbar-bg: darken($primary, 10%) !default;
// $navbar-color: $navbar-sidebar-link-color !default;
// $navbar-active-color: $navbar-sidebar-link-color !default;
// $navbar-hover-color: $navbar-sidebar-link-color !default;
// $navbar-border: (
//     bottom: (
//         size: 1px,
//         style: solid,
//         color: $navbar-bg,
//     ),
// ) !default;

// Sidebar
$sidebar-bg: darken($primary, 10%) !default;
$sidebar-nav-link-icon-color: $navbar-sidebar-link-color !default;
// $sidebar-nav-link-color: $navbar-sidebar-link-color !default;
// $sidebar-nav-title-color: $navbar-sidebar-link-color !default;

$sidebar-nav-link-active-icon-color: $navbar-sidebar-link-color !default;

// form
// เพิ่มสีกรอบ input ให้เด่นขึ้น
// $input-border-color: #cacfd4;
// $input-group-addon-border-color: #cacfd4;